/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;

    &_jc-c {
        justify-content: center;
    }

    &_jc-sb {
        justify-content: space-between;
    }
}